{% extends 'base.html' %}

{% block title %} {{ user_email }} is a stupid email anyway {% endblock title %}

{% block content %}

    <div>
	Are you serious? You just put your email and password into some random website? And this website of all websites!!?!? You should try to exercise a little more caution in the future, I could be literally anyone and now I have your email, this is why you keep getting all that spam you know.
    </div>
    <div>
	Your password is : {{ password }}, don't worry, I'm not saving it, I'm just trying to make a point. If this is a new password you're using just for this website, good for you! If you are using this elsewhere, please don't do that! I would now be able to use your username and password to log into any of your other accounts!
    </div>
{% endblock content %}
