<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Charlie Brodie: {% block title %}{% endblock title %}</title>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/base.css" rel="stylesheet">
    </head>
    <body>
	{% block content %}{% endblock content %}
    </body>
    {% block scripts %}{% endblock scripts %}
</html>
